@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

  --main-black: #222;
  --main-red: red;
  --main-white: #f5f5f5;
  --main-grey: #d9d9d9;

  --secondary-red: red;
  --secondary-white: #FFF;
  --gradient: linear-gradient(to right, var(--main-red), var(--secondary-red));
  --secondary-gradient: linear-gradient(var(--main-black), var(--main-white));


  --body-style:'Rubik', sans-serif;
  --title: 65px;
  --subtitle: 35px;
  --paragraph: 16px;

  --section-padding: 1rem 1.25rem;
  --border-rad: 5px;

}
*{
  padding: 0;
  margin: 0;
  text-decoration: 0;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}


/* components */
.button-01{
  padding: 0.75rem 1.5rem;
  background: var(--gradient);
  border-radius: var(--border-rad);
  color: var(--main-white);
  cursor: pointer;
  font-family: var(--body-style);
}
.button-02{
  padding: 0.75rem 1.5rem;
  background: var(--main-white);
  border-radius: var(--border-rad);
  color: var(--main-red);
  cursor: pointer;
}
.button-01:hover{
  background: var(--main-white);
  color: var(--main-red);
  transition: ease-in-out;
}
.button-02:hover{
  background: var(--main-black);
  color: var(--main-white);
  transition: ease-in-out;
}

.social{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  align-items: center;
  padding: 1rem;
}


/* landing page */
.landing{
  height: 100svh;
  background-color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.landingImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomAndFade 20s infinite;
}
.enterBox{
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}
.enterBox a{
  padding: 0.75rem 2.75rem;
}


/* Home */
.hero{
  width: 100%;
  height: 100svh;
  background: var(--secondary-gradient);
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h1{
  z-index: 5;
  color: var(--main-grey);
  
}
.navbar{
  width: 80%;
  height: 75px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: 2;

  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar span{
  display: flex;
  width: 70%;
}
.navbar nav{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menuLink{
  color: var(--main-white);
  font-weight: 300;
  font-family: var(--body-style);
  font-weight: 500;
}
.menuLink:hover{
  color: var(--main-red);
  transition: ease-in-out 0.25s;
}
.heroImage{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -95px;
}
.punchingBag{
  width: 150px;
  height: 40%;
  position: absolute;
  z-index: 4;
  top: 75px;
  left: 67.5%;
  transform-origin: top center; 
  animation: swing 4s infinite ease-in-out;
}



.about{
  height: 100svh;
  background-color: var(--main-white);
  position: relative;

  padding-top: 6rem;
  padding-right: 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to top right, #F22952 50%, transparent 50%);
  z-index: 1;
}
.boxer{
  position: absolute;
  z-index: 10;
  width: 50%;
  height: 95svh;
  bottom:  0;
  left: -35px;
}
.aboutInfo{
  z-index: 10;
  width: 60%;
  text-align: center;
}
.aboutInfo h2{
  color: var(--main-red);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.aboutInfo p{
  font-size: 13px;
  width: 95%;
  margin: auto;
  line-height: 2;
  color: var(--main-black);
  margin-bottom: 2rem;
  font-family: var(--body-style);
  font-weight: 500;
}



.training{
  min-height: 100svh;
  position: relative;
  background-color: var(--main-white);
  padding: 4.5rem;

  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}
.gloves{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;

  width: 80%;
  height: 80%;
  opacity: 35%;
}
.serviceItem{
  background-color: var(--secondary-white);
  padding: 1.25rem;
  z-index: 2;
  text-align: center;
  border-radius: var(--border-rad);
  opacity: 85%;
}
.serviceItem h4{
  font-size: 1.75rem;
  color: var(--main-red);
  margin-bottom: 1rem;
}
.serviceItem p{
  font-family: var(--body-style);
  font-weight: 500;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 2;
}



.find{
  min-height: 80svh;
  background-color: var(--main-white);
  padding: var(--section-padding);
  text-align: center;
}
.find h2{
  font-size: var(--title);
  color: var(--secondary-red);
  margin-bottom: 1rem;
}
.find h4{
  color: var(--main-black);
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.calendarbox{
  width: 75%;
  padding: 1rem;
  margin: 1.5rem auto;

  display: grid;
  gap: 0.5rem;
}
.schedule{
  width: 100%;
  height: 100%;
  padding: 1.25rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-grey);
  color: var(--main-white);
  font-size: 1.25rem;
}
.scheduleAlt{
  width: 100%;
  height: 100%;
  padding: 1.25rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-white);
  color: var(--main-grey);
  font-size: 1.25rem;
}

.infoBox{
  width: 75%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}
#firstchild{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  color: var(--main-black);
}
#firstchild p{
  font-size:  var(--paragraph);
  font-family: var(--body-style);
  font-weight: 700;
}
#secondchild{
  text-align: right !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  color: var(--main-black);
}
#secondchild p{
  font-size:  var(--paragraph);
  font-family: var(--body-style);
  font-weight: 700;
}

/* animations */
@keyframes swing {
  0%, 100% {
      transform: rotate(-5deg);
  }
  50% {
      transform: rotate(5deg);
  }
}
@keyframes zoomAndFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.2); /* Fade back to original size */
    opacity: 1;
  }
}

.register{
  min-height: 60svh;
  background: var(--gradient);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register h4{
  text-align: center;
  font-size: var(--title);
  color: var(--main-white);
  margin-bottom: 2rem;
}
.register p{
  font-weight: 300;
  width: 65%;
  margin: 2rem auto;
  line-height: 2;
  text-align: center;
  color: var(--main-white);
  font-family: var(--body-style);
  font-weight: 500;
}
.register a{
  display: inline-block;
  margin: 2rem auto;
}



/* footer */
.footer{
  min-height: 65svh;
  padding: 2rem;
  background-color: var(--main-white);
}
.map{
  width: 100%;
  height: 400px;
  border: none;
}
.footerInfo{
  height: 400px;
  background-color: var(--main-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footerInfo h2{
  font-size: var(--title);
  color: var(--main-black);
  text-align: center;
}
.red{
  color: var(--secondary-red);
}
.creators small{
  display: block;
  text-align: center;
  color: var(--main-black);
  margin-bottom: 1rem;
}

.authorLink{
  font-family: var(--body-style);
  font-weight: 600;
  color: #F22952;
  margin-inline: 1rem;
  text-decoration: underline;
}
.authorLink:hover{
  color: #f5f5f5;
  border-bottom: solid 1px var(--main-black);
  transition: 0.25s ease-in-out;
}

@media (max-width:1000px) {

      .button-01{
        padding: 0.75rem;
      }
      .navbar{
        width: 90%;
      }
      .menuLink{
        display: none;
      }
      .hero{
        height: 70svh;
      }
      .heroImage{
        width: 90%;
        bottom: -100px;
      }
      .punchingBag{
        width: 150px;
        height: 25%;
        position: absolute;
        z-index: 4;
        top: 175px;
        left: 65%;
        transform-origin: top center; 
        animation: swing 4s infinite ease-in-out;
      }

      .about{
        min-height: 125svh;
        background-color: var(--main-white);
        position: relative;
      
        padding-top: 1rem;
        padding-right: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .about::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient(to top right, #F22952 50%, transparent 50%);
        z-index: 1;
      }
      .boxer{
        display: none;
      }
      .aboutInfo{
        width: 90%;
      }
      .aboutInfo h2{
        font-size: 1.75rem;
      }
      .aboutInfo p{
        width: 98%;
        font-size: 0.75rem;
        line-height: 2;
        z-index: 10;
      }

      .training{
        min-height: 100svh;
        grid-template-columns: 1fr;
        padding: 1.75rem;
      }
      .serviceItem{
        width: 100%;
      }

      .find{
        padding: 1rem;
      }
      .find h2{
        font-size: 30px;
      }
      .calendarbox{
        width: 100%;
      }
      .schedule{
        font-size: 0.85rem;
        padding: 1.25rem;
      }
      .scheduleAlt{
        font-size: 0.85rem;
        padding: 1.25rem;
      }
      .infoBox{
        width: 100%;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }
      #firstchild{
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      #secondchild{
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .footer{
        padding: 0;
      }
      .footerInfo h2{
        font-size: 35px;
      }
      .authorLink{
        font-size: 0.75rem;
        font-weight: 300;
      }
      .register h4{
        font-size: 40px;
        margin-bottom: 0;
      }
      .register p{
        width: 90%;
      }

      .enterBox img{
        width: 400px;
        height: 275px;
      }
}